<!DOCTYPE html>
<html lang="it">
<head>
  <title>Tech&amp;Pizza Delivery Waiter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="Tech&Pizza Delivery Waiter">
  <meta property="og:description" content="A simple event delivery booking management system">
  <meta property="og:image" content="https://tpdw.zavy.im/icon.png">
  <meta property="og:url" content="https://tpdw.zavy.im/">
  <link rel="icon" href="https://tpdw.zavy.im/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="/style.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans">
{{> header}}
<main class="flex-1 p-4 overflow-y-auto">
  {{{body}}}
</main>
{{> footer}}
</body>
</html>
