<br/>
<hr/>
<small>
  Copyright 2024 &copy; Google Developers Group Valle d'Aosta
  <br/>
  <a href="https://github.com/gdgvda/tech-pizza-delivery-waiter">https://github.com/gdgvda/tech-pizza-delivery-waiter</a>
</small>
